.navbar {
    background-color: white;
    padding: 0rem 4rem;
  }
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 63%;
  }
  
  .logo img {
    height: 60px;
    width: auto;
    object-fit: contain;
  }
  
  
  .navItems {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navItems li {
    padding: 0px 8px;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
    color: #333;
  }
  
  .active {
    background-color: white;
    border: 2px solid #003366;
    border-radius: 16px;
  }
  