:root {
    --font-family: "Inter", sans-serif;
    --content-width: 80%;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-image: url("/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    width: var(--content-width);
    margin: 0 auto;
    max-width: 1200px;
}
